# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
ENV/
env/
.env

# PyInstaller
#  Often these folders are used by PyInstaller to store temporary files
build/
dist/
*.spec

# Logs
*.log
trayprint.log

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# WiX / MSI build artifacts
*.msi
*.wixpdb
*.wixobj
*.wixout
installer/TrayPrint-3.0.0.msi
installer/TrayPrint-3.0.0.wixpdb
installer/TrayPrint.wixobj

# Databases & Egg-info
*.db
TrayPrint.egg-info/
TrayPrint.egg-info
.pytest_cache/
